body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffd0a8;
    color: #333;
    font-family: 'calibri',sans-serif;
    font-weight: 400;
}

.container{
    text-align: center;
    padding: 2rem;
    border-radius: 5px;
    background-color: #fff;
    flex: 0 0 80%;
}
#quotes{
    text-transform: uppercase;
}
#quoteBtn{
    border: none;
    color: #fff;
    background-color:#d89156;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    font-size: 1.3rem;
    border-radius: 7px;
}

#quoteBtn:hover{
    color: #ffd000;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #fcdbbf;
    margin:1.5rem;
    padding:0.5rem;
}

#quoteAuthor{
    color: #ffd000;
}